body {
  background-color: rgb(51, 51, 51);
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono';
  cursor: default;
  user-select: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  background-color: darkgray;
  width: 500px;
  height: 700px;
  padding: 3vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.display {
  background-color: gainsboro;
  width: 90%;
  height: 18%;
  border-radius: 10px;
  font-size: 6vw;
  padding: 0 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  height: 21%;
  display: flex;
  justify-content: space-between;
}

.btn{
  background-color: orange;
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  border-radius: 10px;
}

.num, .backspace, .dot{
  background-color: gainsboro;
}

.btn:hover {
  background-color: rgb(201, 130, 0);
}

.num:hover, .backspace:hover, .dot:hover {
  background-color: rgb(192, 190, 190);
}

.num:active, .backspace:active, .dot:active {
  background-color: rgb(233, 151, 0);
}

.dnumber {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operator {
  background-color: orange;
}

.operator:hover {
  background-color: rgb(201, 130, 0);
}

.operator:active {
  background-color: rgb(192, 190, 190);
}

.stretch {
  width: 38%;
}

.stretch:hover {
  background-color: rgb(201, 130, 0);
}

.stretch:active {
  background-color: rgb(192, 190, 190);
}